@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}

header {
    background-color: #343a40;
}

h1 {
    font-size: 2rem;
}

#cantos {
    position: fixed;
    top: 70px; /* Ajuste para ficar abaixo do header */
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 40px;
}

#reset {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#reset:hover {
    background-color: #0056b3;
}

#contador {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flagImage {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

#nextButton {
    background-color: #28a745;
    color: white;
}

#nextButton:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

footer p {
    font-size: 1rem;
    margin: 0;
}
